<nav class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-header"><a class="navbar-brand" href="#">Tweet Scheduler</a></div>
    <ul>
        <li><a ng-click="lougout()">Logout</a></li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 ng-bind="'@'+user.screen_name"></h1>
        </div>
    </div>
    <form ng-submit="queueTweet()">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="tweet.text" placeholder="Text">
                    </div>
            </div>
            <div class="col-xs-12 col-md-6">
                    <button class="btn btn-primary">Queue</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <p ng-repeat="tweet in data.tweets">{{tweet.text}}</p>
        </div>
    </div>
</div>